# ==========================================
# PUBLIC VARIABLES (PLAINTEXT)
# ==========================================

# --- APP CONFIG ---
CDN_DOMAIN_URL=cdn.example.com
PROJECT_CACHE_PREFIX=projecty
PUBLIC_API_BASE_URL=https://example.com
PUBLIC_API_URL=https://example.com/api/v1
CSP_ALLOWED=connect.facebook.net,facebook.com,firebaseinstallations.googleapis.com,www.gstatic.com,youtube.com

# --- CACHE ---
REDIS_CACHE_TTL=3600

# --- CLERK ---
CLERK_ALLOWED_ORG_ID=org_32Hasd2323Zhwnwv8GPCd8haF
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcdssdf3425235jb20k

# --- FIREBASE ---
PUBLIC_FIREBASE_API_KEY=YOUR_API_KEY
PUBLIC_FIREBASE_APP_ID=1:551591387886:web:20890e2c1c652b737dc9ff
PUBLIC_FIREBASE_AUTH_DOMAIN=grameen-jute.firebaseapp.com
PUBLIC_FIREBASE_MEASUREMENT_ID=G-B5PTNBEFLW
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=551591387886
PUBLIC_FIREBASE_PROJECT_ID=grameen-jute
PUBLIC_FIREBASE_STORAGE_BUCKET=grameen-jute.firebasestorage.app
PUBLIC_VAPID_FIREBASE=BDmEJb6VMxf3QdyFE9C-d0W9fEtULHsyb2qHcsMfiW-1VUkGb_T_PCFD-_SO3PYyZ55ZNRJb6BB_13dqF2P1PeQ

# ==========================================
# SECRET VARIABLES (ENCRYPTED)
# ==========================================

# --- APP SECRETS ---
API_TOKEN=Value encrypted
JWT_SECRET=Value encrypted

# --- CLERK ---
CLERK_SECRET_KEY=Value encrypted

# --- FIREBASE ---
FIREBASE_SERVICE_ACCOUNT_CRED_JSON={"Json"}

# --- STORAGE (R2) ---
R2_ACCESS_KEY_ID=Value encrypted
R2_ACCOUNT_ID=Value encrypted
R2_BUCKET_NAME=Value encrypted
R2_PUBLIC_URL=Value encrypted
R2_SECRET_ACCESS_KEY=Value encrypted

# --- DATABASE (TURSO) ---
TURSO_AUTH_TOKEN=Value encrypted
TURSO_DATABASE_URL=Value encrypted

# --- CACHE (UPSTASH & PURGE) ---
UPSTASH_REDIS_REST_TOKEN=Value encrypted
UPSTASH_REDIS_REST_URL=Value encrypted
PURGE_TOKEN=Value encrypted
PURGE_URL=Value encrypted