main = "./dist/_worker.js/index.js"
compatibility_date = "2025-05-05"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[limits]
cpu_ms = 300_000

workers_dev = false
preview_urls = false

[observability]
enabled = true

[placement]
mode = "smart"

[assets]
binding = "ASSETS"
directory = "./dist"

[[kv_namespaces]]
binding = "SHARED_AUTH_CACHE"
id = "9f577136c05144349f2b8013a4fc1cc5" 